<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale = 1.0,user-scalable=no">
<title>小蘑菇音乐播放器</title>
<link rel="stylesheet" href="../public/stylesheets/index.css">
<link rel="stylesheet" href="../public/stylesheets/font-awesome.min.css">
</head>
<body>
	<header>
		<h1>小蘑菇音乐播放器</h1>
		<div id="type" data-type="column" title="切换动画效果"><!-- fa-star --><i class="fa fa-bar-chart fa-fw"></i></div>
		<p><span>Volume</span><input id="volume" type="range" min="0" max="100" value="20"></p>
	</header>
	<div id="add"><span>Local Music</span><input id="upload" type="file"></div>
	<div class="left">
		<ul id="list">
			<li title="duandian.mp3">张敬轩 - 断点.mp3</li>
			<li title="yongqi.mp3">梁静茹 - 勇气.mp3</li>
			<li title="nuannuan.mp3">梁静茹 - 暖暖.mp3</li>
			<li title="huozhe.mp3">郝云-活着.mp3</li>
		</ul>
	</div>
	<div class="right" id="box"></div>
	<div id="divplayer">
		<div class="music_bar">
			<strong title="上一首" class="prev_music">
				<span>上一首</span>
			</strong>
			<strong title="播放" id="playbtn" class="playmusic">
				<span>播放</span>
			</strong>
			<strong title="下一首" class="next_music">
				<span>下一首</span>
			</strong>
			<strong title="顺序播放" class="unordered" id="palyModeBtn">
				<span>顺序播放</span>
			</strong>
			<p class="volume" title="音量调节">
				<span class="volume_open" id="spanmute" title="点击设为静音"></span>
				<span class="volume_regulate" id="spanvolume">
					<span class="volume_bar" id="spanvolumebar"></span>
					<span class="volume_op" id="spanvolumeop"></span>
				</span>
			</p>
		</div>
	</div>
	<ul id="play_mode_select"><li title="单曲循环" class="cycle_single"></li><li title="列表循环" class="cycle"></li><li title="顺序播放" class="ordered"></li><li title="随机播放" class="unordered"></li></ul>
	<script type="text/javascript" src="../public/javascripts/MusicVisualizer.js"></script>
	<script src="../public/javascripts/index.js"></script>
</body>
</html>